{% extends 'base.html' %} 

{% block content %}

<form method="POST" class="post-form" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="block">
    <h2>{% block title %}{{title}}{% endblock title %}</h2>
    <label for="images" class="drop-container">
      <span class="drop-title">Drop files here</span>
      or
      <input type="file" id="images" accept="{{file_type}}" name="file" required />
    </label>
    <input type="submit" class='button-5' id='start'  value="Start">
    <span class="loader" id='loader'></span>

    {% if request.POST %}
    <span class="loader" id='loader' style="display:none"></span>
    {% endif %}

  
    {% if filename %}
    <a href="{% url 'file' path filename %}" id='download' style='display:inline-block'>Download</a>
    {% endif %} 

  </div>
</form>







{% endblock content %}
